
.container{
    color:green;
    text-align: center;
}
#highscore {
 float: left;
 color:green;
}

#time{ 
 float: right;
 color:green;
}

.start, 
.tryAgain,
.seeHighscores,
.Highscores{
    background-color:green;
    color: white;
}

.hidden {
    display: none;
}
.show {
    display: block;
}

